* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    background-image: url("https://picsum.photos/400");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
