@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Satisfy&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Roboto', sans-serif ;
    font-size: 16px;
    width: 100vw;
    min-height: 100vh;
}

/* Nav container start */

nav {
    width: 100%;
    height: 65px;
    background-color: chartreuse;
}

.container {
    width: 60%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

/* nav container ends */
/* brand section start */

.brand-section {
    display: flex;
    align-items: center;
}

.brand-logo {
    margin-right: 1rem;
}

.brand-logo span {
    color: rgb(255, 51, 0);
    font-size: 2rem;
}

.brand-title a {
    text-decoration: none;
    color: cornflowerblue;
}
/* brand section end */

/* main menu section start */
.main-menu {
    display: flex;
    margin-left: 2rem;
}

.main-menu  a, 
.right-menu a 
{
   display: inline-block;
   margin-right: 1rem;
   text-decoration: none;
   text-transform: uppercase;
   letter-spacing: 2px;
   color: rgb(228, 68, 159);
}

.main-menu a:hover {
    text-decoration: underline;
    color: darkorange;
}

/* main menu section ends */

/* right menu start */
.right menu {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.right-menu button {
    background-color: purple;
    border: none;
    outline: none;
    color: rgb(224, 153, 170);
    cursor: pointer;
}

.right-menu button > span {
    font-size: 1.5rem;
}

/* right menu end */

/* dropdown start */
  
.dropdown {
    position: relative;
}

.dropdown:hover .dropdown-items {
    display:block;
}

.dropdown > .dropdown-items {
    position: absolute;
    right: 0;
    background-color: cyan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 200px;
    border-radius: 0.15rem;
    display:none;
}

.dropdown-items-ul {
    list-style-type: none;
}

.dropdown-items-li {
    padding: 0.5rem 1rem;
    text-align: left;
}

.dropdown-items-li:hover {
    background-color: rgb(100, 0, 57);
}

.dropdown-items-li a {
    color: crimson;
    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: normal;
}

.divider {
    border: none;
    border-bottom: 1px solid deeppink;
}


/* dropdown end */

/* mega menu start */

.mega-menu {
    position: relative;
    padding: 1rem 0;
}

.mega-menu:hover .mega-menu-container {
    display: flex;
    gap: 2rem;
}

.mega-menu-container {
    position: absolute;
    top: 100%;
    width: 700%px;
    height: 300px;
    background-color: mediumblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
    padding: 1rem 2rem;
}

.category-list {
   list-style-type: none;
   margin-top: 1rem;
}

.category-list li {
    padding: 0.5rem 1rem;
}

.category-list a {
    color:aqua;
    font-size: 0.8rem;
    text-align: left;
}

.category-list a:hover {
    color: crimson;
}

/* mega menu end */

