.container {
    box-sizing: border-box;
}
.box {
    width: 700px;
    height: 250px;
    margin: 20px auto;
    background-color: rgb(218, 196, 194);
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}