* {
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}

.container {
    width: 700px;
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

dt {
    font-size: 24px;
    margin-top: 24px;
    margin-bottom: 12px;
}

dd {
    font-family: Arial, Helvetica, sans-serif;
    color: deeppink;
    line-height: 1.5;
}