 * {  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

.container {
    width: 700px;
    margin: 20px auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
}

ol {
    list-style-type: decimal-leading-zero;
    margin-left: 30px;
    margin-top: 10px;
}

ol li {
    margin: 10px;
    color: darkblue;
}

ol ol {
    list-style-type: upper-alpha;
    
}

ol ol li {
    
    color:chartreuse;
}

ol ol ol {
    list-style-type: upper-roman;
}

ol ol ol li {
    color:crimson
}

li::marker {
    color:darkgoldenrod
}
